services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"      
      - "15672:15672"    # админка
    networks:
      - shared_net
networks:
  shared_net:
    external: true
