version: "3.9"

services:
  server1:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
    command: node index.js
    expose:
      - "3000"
    networks:
      - shared_net

networks:
  shared_net:
    external: true
