services:
  server1:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
      - ./logs/serv1:/var/log
    command: node index.js
    expose:
      - "3000"
    networks:
      - shared_net

volumes:
  logs_serv1:

networks:
  shared_net:
    external: true
