services:
  logstash:
    image: docker.elastic.co/logstash/logstash:8.14.0
    user: root
    volumes:
      - ./pipeline:/usr/share/logstash/pipeline
      - ../serv1/logs/serv1:/logs/service1  
      - ../serv2/logs/serv2:/logs/service2
      - ./logs/combined:/logs/combined
    ports:
      - "5044:5044"
      - "9600:9600"
    networks:
      - shared_net

volumes:
  logs_serv1:

networks:
  shared_net:
    external: true
